{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <!-- <h3 class="title">Sign Up</h3> -->
    <div class="box">

        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %} -->
            <div class ="notification is-danger">
                <!-- {{ messages[0] }}. -->
                 Go to <a href="{{url_for('login') }}">Login page</a> else your score will not be saved.
            </div>
        <!-- {% endif %}
        {% endwith %} -->
        <div class="container">
            <div class="grid"></div>
            <div>Flags left: <span id='flags-left'></span></div>
            <div id="result"></div>
          </div>
    </div>        
</div>
{% endblock %}